doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title $rinivasarao
    body 
    ul 
      each movie in movies
        li
        b= movie.id
        h4= movie.title 
        h5= movie.releaseyear
        b= movie.director
        h5= movie.genre 
        h5= movie.cast 
        p= movie.synopsis
        b= movie.rating;